body * {
    direction: rtl;
    text-align: right;
}

.login-page {
    background: #3498db;
}

html, body, .container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.login-div {
    margin: 200px auto;
    display: block;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 100px auto 100px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border: 1px solid #7b7b7b;
    border-radius: 5px;
}

.form .btn {
    text-align: center;
    border-radius: 2px;
}

.form label {
    color: #1CBECB;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 6px 0px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 2px solid #e6e3e3;
}

::-webkit-input-placeholder {
    font-size: 0.8rem;
}

::-moz-placeholder {
    font-size: 0.8rem;
}

:-ms-input-placeholder {
    font-size: 0.8rem;
}

input:-moz-placeholder {
    font-size: 0.8rem;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    background: #1CBECB;
}

.form button:hover, .form button:active, .form button:focus {
    background: #1C9CAB;
}

.form .message {
    margin: 0 0 20px;
    color: #1C9CAB;
    text-align: center;
}

.form .message.text-danger {
    color: red !important;
}