.content h4 {
    background-color: #222d32;
    padding: 15px;
    color: #fff;
}

@font-face {
    font-family: Amiri;
    src: url(../fonts/Amiri-Regular.ttf);

}

body {
    /*background-image: url("../images/EsIKQFo.jpg") !important;
    background-size: cover !important;
    background-attachment: fixed;*/
    font-family: Amiri !important;
}

.main_content {
    background: transparent !important;
}

.table thead th {
    vertical-align: middle !important;
}

.btn, .label {
    border-radius: 0px !important;
}

.btn-default-default {
    background: #f1c40f !important;
    color: #fff !important;
}

.btn-default-default:hover, .btn-default-default:active, .btn-default-default:focus {
    background: #f39c12 !important;
}

.btn-x {
    background: #337AB7 !important;
    color: #fff !important;
    border: 1px solid #DDDDDD !important;
    display: flex;
    justify-content: space-around;
}

.emp_actions {
    background: #DDDDDD;
    padding: 3px 5px 5px 5px !important;

}

.emp_actions a.btn {
    margin: 3px 0px 0px 0px !important;
}

.btn-success.disabled {
    background: #449D44 !important;
}

.boxino {
    background: #fff;
}

#main-header {
    background: #fff;
}

.panel-body{
    overflow-y: auto;
}