<span style='color: #000'>157 frames</span>	<span style='color: #900'>6,912 KB</span>	<span style='color: #090'>246.55 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />